@import "~bootstrap/scss/bootstrap";

body {
    background-color: #3d708b;
    color: black;
    display: block;
}

.movie-card {
    padding: 1rem;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #a58c31;
    padding: 1.5rem;
    height: 350px;
    background-color: #d3d0cb;
    border-radius: 30px;
    transition: .5s ease;
    cursor: pointer;
}

.content-card:hover {
    scale: 1.1;
}

h4 {
    margin-bottom: 1rem;
    text-decoration: underline;
}

p {
    font-style: italic;
}

strong {
    color: #3d708b;
    text-shadow: 0 0 5px white;
}

.streaming-button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border: 3px solid #a58c31;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    transition: 1s ease;
    
    &:hover {
        background-color: #5396b9;
    }

    i {
        color: rgb(43, 37, 37);
    }
}